<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script defer src="/javascripts/app.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class=<%=(!user)?'notlogin': user.appearance %>
    <div class="navi">
      <div class="menuList">
        <div class="fixedDropdown">
          <div>
            <button class="logo"><img
                src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png'
                alt="" class="dropdown" /></button>
          </div>
          <div class="ml">
            <a href="/posts/new">
              <p class="menuItem"><svg aria-label="New post" class="_ab6-" color="white" fill="rgb(245, 245, 245)"
                  height="24" role="img" viewBox="0 0 24 24" width="24">
                  <path
                    d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z"
                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"></path>
                  <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                  <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
                </svg>CREATE</p>
            </a>
            <span></span>
            <a href="/">
              <p class="menuItem"><svg aria-label="Home" class="_ab6-" color="white" fill="rgb(245, 245, 245)"
                  height="24" role="img" viewBox="0 0 24 24" width="24">
                  <path
                    d="M9.005 16.545a2.997 2.997 0 0 1 2.997-2.997A2.997 2.997 0 0 1 15 16.545V22h7V11.543L12 2 2 11.543V22h7.005Z"
                    fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
                </svg>HOME</p>
            </a>
            <span></span>
            <form action="/profile/appearance?_method=PUT" method="POST">
              <button type="submit" class="ap"><p  class="menuItem APPEARANCE"><svg aria-label="Settings" class="x1lliihq x1n2onr6" color="white"
                  fill="rgb(245, 245, 245)" height="24" role="img" viewBox="0 0 24 24" width="24">
                  <title>Settings</title>
                  <circle cx="12" cy="12" fill="none" r="8.635" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></circle>
                  <path
                    d="M14.232 3.656a1.269 1.269 0 0 1-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 0 1-.796.66m-.001 16.688a1.269 1.269 0 0 1 .796.66l.505.996h1.862l.505-.996a1.269 1.269 0 0 1 .796-.66M3.656 9.768a1.269 1.269 0 0 1-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 0 1 .66.796m16.688-.001a1.269 1.269 0 0 1 .66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 0 1-.66-.796M7.678 4.522a1.269 1.269 0 0 1-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 0 1-.096 1.03m11.8 11.799a1.269 1.269 0 0 1 1.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 0 1 .096-1.03m-14.956.001a1.269 1.269 0 0 1 .096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 0 1 1.03.096m11.799-11.8a1.269 1.269 0 0 1-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 0 1-1.03-.096"
                    fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
                </svg>APPEARANCE</p></button>
              </form>
            <span></span>
            <a href="/profile">
              <p class="menuItem"><img class="menuAvatar" src="<%=user.avatar%>" alt="avatar" />PROFILE</p>
            </a>
            <span></span>
            <div class="spacer"></div>
          </div>
        </div>
      </div>
      </div>

        <nav>
          <a href="/">Home</a>
          <a href="/logout">Log Out</a>
          <a href="/profile"><img class="userAvatar" src="<%=user.avatar%>" alt="avatar"/></a>
      </nav>
      </div>
