@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  font: 18px  Helvetica, Arial, sans-serif;
  font-family: 'PT Sans', sans-serif;

}
.off{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}
.homescreen{
  text-align: center;
  font-size: 50px;
  color: white;
}
.h1{
  background: -webkit-linear-gradient(180deg,rgb(255, 0, 0) 40%,  #ffff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.notlogin{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
background: linear-gradient(180deg, #24C7A0 0%, #0F1547 78.12%, #01001D 100%);
background-image: url('https://wallpaperaccess.com/full/7270362.gif');
background-size: cover;
background-repeat: no-repeat;
background-position: 0%;
}
.btn{
  width: 200px;
  height:80px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
}
.btn1{
  background: linear-gradient(180deg, #cb7575 0%, #c00303 100%);

}
.btn2{
  background: linear-gradient(180deg, #83c68f 0%,  #08df22 100%);

}
.login{
  padding: 50px;

  background: linear-gradient(180deg,#000220 0%,#000220 50%, #914d49 100%);
 color: white;
}
.editu{
  display: flex;
  flex-direction: column;
}
.videoback{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index:-2;
  opacity: 0.7;
}
a {
  color: #00B7FF;
}
.imgPost{
  max-width: 45vw;
  border-radius: 5px;
}
.imgPost1{
  max-width: 45vw;

}
.post{
  position: relative;
  width: 45vw;
  margin-top: 15px;
 
  margin: 0 auto;
  margin-bottom: 25px;
  box-shadow: 2px 2px 10px #ffffff65;
  padding: 20px;
  border-radius: 8px;

}

.userPost{
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
 
}
.avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.menuAvatar{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.imgDiv{
  position: relative;
  text-align: center;

  border-radius: 3px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editPopup{

  display: flex;
 
}
.hide{
  display: none;
}
.show{
  display: inline;
}
.thefirst{
  font-size: 10px;
  margin-bottom: 15px;
  color: gray;

  padding-top: 5px;
  padding-bottom: 5px;
}
.viewComment{
  margin-bottom: 15px;
  color: rgba(230, 230, 230, 0.819);
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
hr{
  border: 1px solid white;
  max-width: 45vw;
  margin-bottom: 40px;
  margin-top: 40px;
  opacity: 0.2;

}
.userAvatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
nav{
  display: flex;
  gap:20px;
  align-items: center;
  justify-content: right;
}
.navi{
  display: flex;
  justify-content: space-between;
}
.profilePost{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 264px;
  min-height: 200px;
  max-height: 264px;

  overflow: hidden;
}
.imgProfile{
  max-width: 500px;
}
.profileP{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap:2px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.profilePo{
  max-width: 754px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profileimg{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  
}
.profileHeader{
  text-align: center;
  margin: 0 auto;
}
.ln{
  max-width: 800px;
}
.profilBtn{
  display: flex;
  justify-content: center;
  border: none;
  background: none;
  color: white;
}
.buttonDiv{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px;
  
}
.b1{
  font-weight: 800;
}
a{
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  padding: 8px;
  width: 300px;
  border: 10px solid #ffffff;
  border-radius: 4px;
  font-size: 14px;
}
.input-field1 {
  padding-top: 25px;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 14px;
}
.url-input {
 }

.captions-input {
}
.menuList{
  background-color: aquamarine;
  z-index: 2;
}
.menuItem{
  margin: 10px;
  display: flex;
  align-items: center;
  gap:5px;
  background: none;
  border: none;
  color: white;
}
.dropdown{
  width: 40px;
  height: 40px;
  
}
a{
  color: white;
}
.logo{
  border: none;
  background: none;
  text-align: left;
  margin: 5px;
}
.fixedDropdown{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  width: 190px;
  padding: 10px;
  height: 320px;
  box-shadow: 2px 2px 10px #ffffff48;
  border-radius: 8px;
 
  
}
.postbtn{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.likebtn{
 background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.ml{
  display: flex;
  flex-direction: column;
  gap:5px
}
span{
  width: 90%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.193);
  margin: 0 auto;
}
#pp{
  display: flex;
  max-width: 45vw;
  align-items: center;
  font-size: 15px;
  gap: 7px;
}
.comments{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.likecom{
  margin-left: 34px ;
  font-size: 10px;
}
.userTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.elipse{
  height: 40px;
  width: 40px;
}
.commentForm{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.commentInput{
  width: 60%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}
.ava{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right:10px ;
}
.commentbtnn1{
  margin-top: 25px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 100px;
}
.commentbtn{
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 100px;
  margin-left: 10px;
}
.bttn{
  padding: 5px;
  border-radius: 4px;
}
.edit{
width: 100px;
border: none;
}
.delete{
width: 100px;
background-color: red;
color: white;
border: none;
}
.report{
  border: none;
}
.indexMenu{
  position: fixed;
  right: 50px;

}
footer{
  height: 500px;
}
.proff{
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 2px 2px 10px #ffffff65;
  padding: 70px;
  border-radius: 10px;
}
