<%- include('../partials/header')%>
<div class="profileHeader">
    <img class="profileimg" src="<%= user.avatar%>">
    <h1><%= user.name%></h1>
</div>
<hr class="ln"/>
<div class="buttonDiv"><a href="/profile"><button class="profilBtn">All POSTS</button></a> <button class="profilBtn b1">NEW POST</button></div>
<div class="profilePo">

<form action="/posts/?_method=POST" method="POST">


    <div class="input-field1"><input type="text" class="input-field url-input" name="imageUrl" placeholder="Enter image or gif URL"/></div>
        <div class="input-field1"><input type="text" class="input-field captions-input" name="caption" placeholder="Add caption"/></div>

    <button class="commentbtnn1" type="submit">POST</button>

</form>
</div>
<%- include('../partials/footer')%>
